<mat-sidenav-container class="sidenav-container" class="mat-elevation-z5">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)"      
      >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item (click)="drawer.toggle()"         
        routerLinkActive="active"
      >
      Nos meilleurs plats
    </a>
      <a mat-list-item 
       [routerLink]="['/']"
        routerLinkActive="active"
      >
      Nos meilleurs cuisiniers (ières)
    </a>
      <a mat-list-item href="#">Plats d'ailleurs</a>
      <a mat-list-item href="#">Restaurant proche</a>      
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span (click)="drawer.toggle()" style="cursor: pointer;">likefe</span>
      
      <div 
      fxFlex
      fxLayout="row nowrap"
      fxLayoutAlign="end end"
      >
        <div *ngIf="!toggleHeader" >
          <button mat-button  (click) ="openDialog()"
          >          
              <mat-icon aria-label="icon">person</mat-icon>
            Se connecter                
          </button>
          <button mat-button (click) ="openDialogI()" >          
              <mat-icon aria-label="icon">person_add</mat-icon>
            S'inscrire                
          </button>
        </div>
        <div *ngIf="toggleHeader">
            <button mat-button  (click) ="openDialog()"
            >          
                <mat-icon aria-label="icon">person</mat-icon>
              Accueil            
            </button>
            <button mat-button (click) ="openDialogI()" >          
                <mat-icon aria-label="icon">person_add</mat-icon>
              Votre Compte                
            </button>
            <button mat-button [matMenuTriggerFor]="menu" >          
                <mat-icon aria-label="icon">toc</mat-icon>                         
            </button>
            <mat-menu #menu="matMenu">
                <button mat-button (click)="savePlace()" >Enregistrer un lieu</button>
              <button mat-button (click)="saveFood()">Enregistrer un plat</button>
              <button mat-button mat-raised-button color="warn" (click)="deconno()" >
                Deconnexion
                <!-- <mat-icon aria-label="icon">clear</mat-icon>   -->
              </button>
            </mat-menu>
          </div>
      </div>
      
      
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>


