<div fxLayout="row"
    style="margin-bottom: 0.5%;"
    class="mat-elevation-z3"
    fxLayoutAlign="start stretch"
    *ngFor="let place of places"
    >
    <mat-card>       

          <mat-card-content>
              <div style="height: 100%"
    fxFlex="1 1 70%"
    fxFlex.xs="1 1 100%"
    fxLayout="row wrap"
    fxLayoutAlign="start stretch"
    >
       <div 
      fxLayout="row wrap"
      fxLayoutAlign=" start center"
       >
       <div 
       fxLayout="column" 
       fxLayoutAlign="center center"       
       fxFlex="1 1 30%"            
       fxFlex.xs="1 1 0%"   
       >
       <img mat-card-image src="../../../assets/burger.jpeg" alt="img"  >
       </div>
       
       <div 
       fxLayout="column"        
       fxLayoutAlign="center center"       
        fxFlex="1 1 70%"      
        fxFlex.lt-sm="1 1 100%"  
        >          
          <h2> {{place}} </h2>
          <div fxLayout="row wrap">

          </div>
          <div fxLayout="row" >
              <strong>Spécialité:</strong>
              <span>Spécialité</span>
          </div>          
          <div fxLayout="row" >
              <strong>Contacts:</strong>
              <span>Spécialité</span>
          </div>  
          <div fxLayout="row" >
              <strong>Localisation:</strong>
              <span>Spécialité</span>
          </div>           
          <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="2%" >
              <mat-icon>duo</mat-icon>
              <mat-icon>duo</mat-icon>
              <mat-icon>map</mat-icon>
          </div>
       </div>
      </div> 
    </div> 

    <div style="background-color: rgb(94, 79, 79);"
    fxFlex.gt-xs="1 1 30%"
    fxLayout="row wrap"    
    >

    </div>
          </mat-card-content>
    

    <mat-card-actions>
        <div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="2%" >            
            <button mat-button>
                <mat-icon>sentiment_very_satisfied</mat-icon> 
            </button>          
            <button mat-button>
                <mat-icon>sentiment_satisfied</mat-icon> 
            </button>   
            <button mat-button>
                <mat-icon>sentiment_very_dissatisfied</mat-icon> 
            </button>                           
        </div>       

        <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>Commentaire</mat-label>
            <input matInput placeholder="Mon commentaire">
            <mat-icon matSuffix>speaker_notes</mat-icon>            
          </mat-form-field>

      </mat-card-actions>
  </mat-card>
    </div>  